/* Style Notes 

grey: #cccccc
teal: #87aba9
white: #ffffff
off white (whitesmoke): #f5f5f5;

*/

/*Sticky Footer*/
	
html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -36px;
}

footer, .push {
  height: 32px;
}

/*End of Sticky Footer*/


/*Page Defaults*/

	body{
		font-size: 100%;
		font-family: 'Open Sans', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #777777;
		background: #f5f5f5 url("../image/whitey.png") repeat;
	}

	h1, h2, h3 {
		font-family: 'Roboto Slab', sans-serif;
		color: #87aba9;
	}

	h1{
		font-size: 150%;
		font-weight: bold;
	}

	h2{
		font-size: 125%;
	    font-weight: bold;
	}

	hr{
		color: #cccccc;
	}

	ul.square, ol.decimal{
		margin-bottom: 20px;
		line-height: 150%;
	}

	ul.square{
		list-style-type: square;

	}

	ol.decimal{
		list-style-type: decimal;
	}

	ul.square, ol.decimal{
		margin-bottom: 20px;
		margin-left: 40px;
		line-height: 150%;
	}

	.contentWrapper{
		box-sizing: border-box;
		width: 960px;
		margin-left: auto;
		margin-right: auto;
	}

	.contentBox {
		background-color: #ffffff;
		border: 2px solid #dddddd;
		padding: 20px 20px 0 20px;
		border-radius: 4px;
		margin-bottom: 10px;
	}

	.headerBox{
		padding-bottom: 20px;
		border-bottom: 2px solid #cccccc;
		margin-bottom: 20px;
		text-align: center;
	}

	.break{
		display: block;
		text-align: center;
		color: white;
		background-color: #87aba9;
		padding: 2px;
		margin-bottom: 10px;
	}

/* End of Page Defaults*/


/* Header */

	header{
		position:fixed;
		display: block;
		height: 60px;
		width: 100%;
		margin-bottom: 30px;
		background-color: #ffffff;
		border-bottom: 3px solid #cccccc;
		box-shadow: 0px 0px 5px 1px darkgrey;
		z-index: 100;
	}

	header, header #head-shot, header #logo, header nav{
		height: 60px;
	}

	header #head-shot{
		box-sizing: border-box;
		display: inline-block;
		position: relative;
		width: 7%;
		overflow: hidden;
		vertical-align: top;
	}

	header #head-shot img{
		position: relative;
		width: 112%;
		left: -6%;
		top: -21%;
	}

	header #logo{
		box-sizing: border-box;
		display: inline-block;
		position: relative;
		background-color: #87aba9;
		padding: 2%;
		vertical-align: middle;
		left: -5px;
		cursor: pointer;
		text-decoration: none;
		
	}

	header #logo h1{
		font-size: 160%;
		color: #ffffff;
	}

	header nav {
		box-sizing: border-box;
		display: inline-block;
		position: relative;
	    right: 1%;
		text-align: right;
    	width: 64%;
	}

	header ul.socialLinks{
		box-sizing: border-box;
		display: inline-block;
		position: relative;
		text-align: right;
		width: 25%;
	}


	header li{
		display: inline-block;
		position: relative;
		vertical-align: middle;
		padding: 0 2%;
		border-left: 1px solid #cccccc;
	}

	header li a{
		color: inherit;
		text-decoration: none;
		cursor: pointer;
	}

	header nav ul.pageLinks li a:hover, header nav ul.pageLinks li a.selected{
		color: #87aba9;
		padding-bottom: 8%;
		border-bottom: 3px solid #87aba9;	
	}

	header nav li a:after:hover{
		display:block;
	}

	header nav li a.selected:hover{
		opacity: .5;
	}

	header nav li:first-child{
		border-left: 0px;
	}

/* End of Header */


/* Main - General */

	main{
		vertical-align: top;
		margin-bottom: 40px;
		padding-top: 95px;
	}

	section, aside{
		display: inline-block;
		vertical-align: top;
	}


	section {
		box-sizing: border-box;
		width: 585px;
		margin-left: 35px;
		float: right;
	}

/*End Main o General */


/* Aside */

	aside {
		box-sizing: border-box;
		position: fixed;
		width: 335px;
		top: 60px;
		z-index: 1;
		overflow: scroll;
    	height: 90%;
	}

	.email{
		text-align: center;
		padding: 10px;
		border: 1px solid darkgray;
		background: #cccccc;
		-moz-box-shadow: inset 0 0 10px #000000;
		-webkit-box-shadow: inset 0 0 10px #000000;
		box-shadow: inset 0px 2px 10px darkgrey;
		margin-bottom: 20px
	}

	aside h2{
		text-align: center;
		margin-bottom: 10px;
	}

	aside ul{
		margin-bottom: 10px;
		line-height: 150%;
	}

	aside footer{
		display: block;
		text-align: center;
		color: #87aba9;
		margin-top: 10px;
	}

/* End of Aside */

/* Social Links (continued) */

	header ul.socialLinks, aside ul.socialLinks{
		margin-bottom: 20px;
		margin-left: -4%;

	}

	header ul.socialLinks li, aside ul.socialLinks li{
		box-sizing: border-box;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		margin-left: 4%;
		/* width: 27%; */
		padding: 2%;
		color: #666666;
		/* background-color: black;
		border: 1px solid black; */
		
	}

	header ul.socialLinks li{
		margin-left: 0%;
		padding: 0%;
	}

	header ul.socialLinks li a, aside ul.socialLinks li a{
		display: inline-block;
		color: inherit;
		width: 100%;
	}

	header ul.socialLinks li a i, aside ul.socialLinks li a i{
		font-size: 230%;
	}

	ul.socialLinks li:hover{
		color: black;
		background-color: #ffffff;
	} 

	ul.socialLinks li.blue:hover {
		color: #1178b2;
		background-color: #ffffff;
	}


	ul.socialLinks li.orange:hover {
		color: #F48024;
		background-color: #ffffff;
	}
	
/* End of Social Links */


/* Page - About */

	section .about img{
		box-sizing: border-box;
		float:left;
		width: 35%;
		margin: 0 10px 10px 0px;
		border-radius: 4px;
		padding: 1px;
		border: 1px solid #f5f5f5;
	}

	section p{
		margin-bottom: 20px;
		line-height: 150%;
	}


	.clear::after{
		content:"";
		clear: both;
		display: block;
	}


/*End Page - About*/


/* Page - Contact */

	form input, form textarea{
		margin-bottom: 20px;
	}

	form input:not([type="submit"]), form textarea{
		box-sizing: border-box;
		display: block;
		width: 100%;
		border: 1px solid #cccccc;
		border-radius: 2px;
		padding: 5px;
		
	}

	::placeholder{
		color: #cccccc;
	}

	form input[type="submit"]{
		background-color: #87aba9;
		color: #ffffff;
		border: 1px solid #87aba9;
		font-size: 18px;
		padding: 5px 20px;
		cursor: pointer;
	}



	form input[type="submit"]:hover{
		background-color: #ffffff;
		color: #87aba9;
	}
		

	form label{
		display: block;
		margin-bottom: 5px;
	}

/* End Page - Contact */


/* Page - Portfolio  */

	.figureWrapper{
		display: block;
		width: 582px;
		margin-left: -20px; /* pull figure left to offset figure left margin*/
	}

	.figureWrapper figure{
		display: inline-block;
		position: relative;
		margin: 0 0 20px 20px;
		padding: 4px;
		border-radius: 2px;
		background-color: #f5f5f5;
		
	}

	.figureWrapper .crop{
		box-sizing: border-box;
		width: 253px;
		height: 250px;
		border: 1px solid #ffffff;
		overflow: hidden;
	}

	.figureWrapper figure img{
		height: 250px;
		border: #ffffff;
	}

	.figureWrapper figure figcaption{
		display: block;
		position: absolute;
		bottom: 10px;
		background: #87aba9;
		color: white;
		text-align: center;
		padding: 10px 5px;
		width: 246px;
	    margin-left: -2px;
	    border-radius: 2px;
	}


/* End Page - Portfolio */


/* Footer */

	/* footer{
		display: block;
		text-align: center;
		border-top: 4px solid #87aba9;
		background-color: #666666;
		color: #cccccc;
		font-size: 16px;
	}

	footer div{
		display: inline-block;
	}

	footer span{
		display: table-cell;
		vertical-align: middle;
		margin: 0 auto;
		padding: 6px;

	} */

/* End of Footer */

/* @media section */

/*960 / 650 /270 section aside*/

@media screen and (max-width: 980px) {

	.contentWrapper{
		width: 98%;
	}

	header #logo h1 {
		font-size: 130%;
	}

	header nav{
		width:63%;
	}

	section{
		width: 67%;
	}

	section .about img {
	    float: none;
	    width: 100%;
	}

	aside{
		width: 31%;
		margin-left: 0%;
	}

	aside ul.socialLinks li a i {
		font-size: 145%;
	}

	.email{
		font-size: 12px;
	}

	.figureWrapper {
	    display: block;
	    width: 100%;
	    margin-left: 0;
	}

	.figureWrapper figure {
	    display: block;
	    margin: 0 auto 4% auto;
	    padding: 1%;
	    width: 98%;
	}

	.figureWrapper .crop{
		width: 100%;
		height: 100%;
	}

	.figureWrapper figure img {
		width: 100%;
    	height: 100%;
	}

	.figureWrapper figure figcaption{
		width: 97%;
		bottom: 16px;
	}

}



@media screen and (max-width: 768px) {


	header nav {
		width: 56%;
	}

	header #head-shot{
		width: 9%;
	}

	aside{
		width: 41%;
	}

	section {
		width: 57%;
	}

	aside ul.socialLinks li a i {
		font-size: 173%;
	}

	.figureWrapper{
	    display: block;
	    width: 104%;
	    margin-left: -2%;
	}

	.figureWrapper figure {
		box-sizing: border-box;
		display: inline-block;
		margin: 0 0 4% 2%;
		width: 47%; 
	}

	.figureWrapper .crop{
		width: 100%;
		height: 100%;
	}


	.figureWrapper figure img {
		width: 100%;
    	height: 100%;
	}

	.figureWrapper figure figcaption {
    	width: 94%;
    }

}


@media screen and (max-width: 640px) {
	
	.contentWrapper{
		width: 96%;
	}

	header{
		position: static;
	}

	aside{
		position: static;
	}

	header .contentWrapper{
		width: 100%;
	}

	section .about img{
		float: none;
		width: 100%;
	}

	#logo{
		display: block;
		width: 100%;
		padding: 3%;
	}

	#logo h1{
		font-size: 185%;
	}

	header nav{
		display: block;
		text-align: center;
    	width: 100%;
    	right: 0;
	}

	header nav li {
	    padding: 0px 8%;
    	margin: 5% 0%;
	}

	aside ul.socialLinks li {
		width: 16%;
	}

	aside ul.socialLinks li a i {
    	font-size: 288%;
    }

	.figureWrapper {
	    display: block;
	    width: 100%;
	    margin-left: 0;
	}

	.figureWrapper figure {
	    display: block;
	    margin: 0 auto 4% auto;
	    padding: 1%;
	    width: 98%;
	}

	.figureWrapper .crop{
		width: 100%;
		height: 100%;
	}

	.figureWrapper figure img {
		width: 100%;
    	height: 100%;
	}

	.figureWrapper figure figcaption{
		width: 97%;
		bottom: 16px;
	}

	
}























